{{define "overview"}}
{{block "title" .}}Ben & Maaike | Overzichtspagina{{end}}

{{block "menuitems" .}}
<a href="/">Terug naar hoofdpagina</a>
<a href="/overview">Overzicht</a>
{{end}}

{{block "content" .}}
<section id="overview" class="py-8">
	<div class="max-w-2xl mx-auto">
		<h1 class="text-3xl font-bold mb-6">RSVP Overzicht</h1>

		{{template "stats" .}}

		
		<div class="space-y-2">
			{{range .Invites}}
				{{template "inviteCard" .}}
			{{end}}
		</div>
	</div>
</section>
{{end}}

{{end}}
