{{define "contact"}}<!-- Contact Section -->
<section id="contact" class="py-6 md:py-12 px-8 bg-slate-50">
	<div class="max-w-4xl mx-auto">

		<h2 class="text-2xl sm:text-3xl font-bold text-slate-800 mb-8 text-center">Contact</h2>

		<div class="bg-white rounded-lg shadow-sm p-8 border border-slate-200 text-left">
			<h3 class="text-xl sm:text-2xl font-bold text-slate-800 mb-4">
				{{ if eq .Mode "day" }}
				Vragen / speechen?
				{{ else if eq .Mode "evening" }}
				Vragen?
				{{ end }}
			</h3>
			<p class="text-slate-600 mb-6">
				{{ if eq .Mode "day" }}
				Wil je een speech houden of een ander stukje doen? Of heb je andere vragen? Neem contact op met onze ceremoniemeester.
				{{ else if eq .Mode "evening" }}
				Neem contact op met onze ceremoniemeester.
				{{ end }}
			</p>

			<div class="flex flex-row justify-start gap-6 w-full">
				<div class="hidden sm:flex flex-col gap-6">
					<img src="https://media.licdn.com/dms/image/v2/D4E03AQHfUSFfWE0kJQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1728391127096?e=2147483647&v=beta&t=rS4btV0Qe4qwMCAk5zrY0M_NfsqbZa_KsJ9-NzMvksg"
						alt="Foto van Joost Kerpels"></img>
				</div>
				<div class="w-full flex flex-col justify-stretch gap-2">
					<h3 class="text-2xl font-bold text-slate-800 whitespace-nowrap">Joost Kerpels</h3>
					<p class="text-slate-500"><strong>Tel:</strong> +31 6 1234 5678</p>
					<a href="https://wa.me/31612345678">
						<div
							class="mb-8 bg-whatsapp-green hover:bg-whatsapp-green-dark text-white font-semibold py-3 px-6 rounded-lg transition max-w-md">
							<img class="max-h-[1.5rem] inline-block" src="/static/whatsapp.svg"
								alt="whatsapp logo"></img>
							Stuur een bericht op Whatsapp
						</div>
					</a>
				</div>
			</div>
		</div>
</section>
{{end}}
