{{define "contact"}}<!-- Contact Section -->
<section id="contact" class="py-6 md:py-12 px-8 bg-slate-50">
	<div class="max-w-4xl mx-auto">

		<div class="bg-white rounded-lg shadow-sm p-8 border border-slate-200 text-left">
			<h2 class="text-3xl font-bold text-slate-800 mb-8">
				{{ if eq .Mode "day" }}
				Vragen / speechen?
				{{ else if eq .Mode "evening" }}
				Vragen?
				{{ end }}
			</h2>
			<p class="text-slate-600 mb-6">
				{{ if eq .Mode "day" }}
				Wil je een speech houden of een ander stukje doen? Of heb je andere vragen? Neem contact op met onze ceremoniemeester.
				{{ else if eq .Mode "evening" }}
				Neem contact op met onze ceremoniemeester.
				{{ end }}
			</p>

			<h3 class="text-2xl font-bold text-slate-800 mb-6">Joost Kerpels</h3>

			<a href="https://wa.me/31612345678">
				<div
					class="mb-8 bg-[#25D366] hover:bg-[#20ba5a] text-white font-semibold py-3 px-6 rounded-lg transition max-w-md">
					<img class="max-h-[1.5rem] inline-block" src="/static/whatsapp.svg" alt="whatsapp logo"></img>
					Stuur een bericht op Whatsapp
				</div>
			</a>
			<p class="text-slate-500 text-sm mt-3">+31 6 1234 5678</p>
		</div>
	</div>
</section>
{{end}}
