{{define "rsvp-frame"}}
<section id="rsvp-frame" class="py-20 px-8 max-w-4xl mx-auto">
	<h1>Hi! I'm the RSVP frame</h1>
	<p>Weet je niet meer zeker of je al een reactie hebt gestuurd, of is er iets veranderd? Geen zorgen! Vul het
		formulier gewoon nog een keer in, en we gaan uit van de meest recente reactie.</p>

	<p>Vragen? Neem contact op met de ceremoniemeester.</p>
	<div class="my-4">
			<select
				name="invite-id"
				hx-get="/rsvp"
				hx-params="*"
				hx-target="#results"
			>
				<option value="" disabled selected>Select invite</option>
				<option value="some-id">foo</option>
				<option value="some-other-id">bar</option>
			</select>
	</div>

	<div id="results"></div>
</section>
{{end}}
