{{define "timeline"}}<!-- Timeline Section -->
<section id="timeline" class="py-20 px-8 max-w-4xl mx-auto">
	<div class="relative space-y-0">
		<!-- Timeline line background -->
		<div class="timeline-line"></div>

		<!-- 13:00 - Ceremony -->
		<div class="timeline-item">
			<div class="timeline-content">
				<div class="timeline-time">13:00</div>
				<h3 class="timeline-title">Delft Town Hall</h3>
				<p class="timeline-description">Wedding Ceremony</p>
				<p class="timeline-description">The ceremony is a public matter and all are welcome to attend</p>
			</div>
		</div>

		{{if eq .Mode "day" }}
		<!-- 13:45-14:00 - Drinks Reception -->
		<div class="timeline-item">
			<div class="timeline-content">
				<div class="timeline-time">14:00</div>
				<h3 class="timeline-title">Drinks reception</h3>
				<p class="timeline-description">Dinner guests are invited to head to the Schaapskooi and enjoy refreshments</p>
			</div>
		</div>

		<!-- 15:00 - Toast -->
		<div class="timeline-item">
			<div class="timeline-content">
				<div class="timeline-time">15:00</div>
				<h3 class="timeline-title">Toast & Celebrations</h3>
				<p class="timeline-description">The newlywed couple arrives on location where folks get to give speeches</p>
			</div>
		</div>

		<!-- 18:30 - Dinner -->
		<div class="timeline-item">
			<div class="timeline-content">
				<div class="timeline-time">18:30</div>
				<h3 class="timeline-title">Dinner</h3>
				<p class="timeline-description">Throw another shrimp on the barbie. Except shrimp was f&@*ing expensive so we chose not to have shrimp</p>
			</div>
		</div>
		{{end}}

		<!-- 20:30 - Evening Reception -->
		<div class="timeline-item">
			<div class="timeline-content">
				<div class="timeline-time">20:30</div>
				<h3 class="timeline-title">Evening Reception</h3>
				<p class="timeline-description">An opportunity for evening guests to congratulate us and give us presents n shit</p>
			</div>
		</div>

		<!-- 21:00 - Party Time -->
		<div class="timeline-item">
			<div class="timeline-content">
				<div class="timeline-time">21:00</div>
				<h3 class="timeline-title">Party Time!</h3>
				<p class="timeline-description">Please note: the bride and groom will be kicking off the party in style at 21:00 - if you want to talk to them please make sure to arrive on time because we are gonna be way too busy to talk to you if you're late! Just sayin</p>
			</div>
		</div>
	</div>
</section>
{{end}}
