{{define "timeline"}}<!-- Timeline Section -->
<section id="timeline" class="py-6 md:py-12 px-2 md:px-8 max-w-4xl mx-auto">
	<div class="relative space-y-0 py-2">
		<div id="time-line" class="hidden md:block absolute left-3 top-0 bottom-0 w-2 bg-red-600 z-0"></div>

			{{ template "timeline-item" (dict
				"Time" "13.00"
				"Location" "Stadhuis Delft"
				"Title" "Trouwceremonie"
				"Description" "De ceremonie is publiek toegankelijk, ook avondgasten zijn van harte welkom! Houd er rekening mee dat je 12.45 uiterlijk aanwezig dient te zijn."
			)}}

		{{- if eq .Mode "day" }}

			{{ template "timeline-item" (dict
				"Time" "14.00"
				"Location" "De Schaapskooi"
				"Title" "Borrel & Bites"
				"Description" "Daggasten zijn vanaf 14.00 welkom in de Schaapskooi om alvast van een drankje te genieten."
			)}}

			{{ template "timeline-item" (dict
				"Time" "15.00 ~ 15.30"
				"Title" "Proost & Toast"
				"Description" "Tussen 15.00 en 15.30 komt het bruispaar aan en proosten we met elkaar. Hier is ook de ruimte voor eventuele toasts en stukjes."
			)}}

			{{ template "timeline-item" (dict
				"Time" "18.00"
				"Title" "Diner"
				"Description" "Op een mooie zomerse dag mag een barbecue natuurlijk niet ontbreken."
			)}}

			{{ template "timeline-item" (dict
				"Time" "20.30"
				"Title" "Avondreceptie"
				"Description" "Avondgasten hebben hier de gelegenheid om het bruidspaar persoonlijk te feliciteren voordat het feest begint."
			)}}
		{{ else }}
			{{ template "timeline-item" (dict
				"Time" "20.30"
				"Location" "De Schaapskooi"
				"Title" "Avondreceptie"
				"Description" "Gasten hebben hier de gelegenheid om het bruidspaar persoonlijk te feliciteren voordat het feest begint."
			)}}
		{{end -}}

		{{ template "timeline-item" (dict
			"Time" "21.00"
			"Title" "Feest!"
			"Description" "Het bruidspaar trapt het feest af om 21.00. Als je ons persoonlijk wil feliciteren, zorg dan dat je voor die tijd aanwezig bent!"
		)}}

	</div>
</section>
{{end}}
