{{define "home"}}

{{block "title" .}}Ben & Maaike 28-08-2026{{end}}

{{block "menuitems" .}}
<a href="#">Home</a>
<a href="#timeline">Planning</a>
<a href="#directions">Locaties</a>
<a href="#dresscode">Dress code</a>
<a href="#contact">Contact</a>

{{if eq .Mode "evening" }}
<a href="#rsvp-cta">RSVP</a>
{{else if eq .Mode "day" }}
<a href="#rsvp-cta">RSVP</a>
{{else if eq .Mode "day" }}
{{end}}
{{end}}

{{block "content" .}}
<div id="just-taking-up-the-space-under-the-menu" class="min-h-20"></div>
	{{template "hero" .}}
	{{template "timeline" .}}
	{{template "directions" .}}
	{{template "dresscode" .}}
	{{template "contact" .}}
	{{if ne .Mode ""}}
	{{template "rsvp-cta" .}}
	{{template "sticky-footer" .}}
	{{end}}

{{end}}

{{end}}
