{{define "form-day"}}

<p>Wil je een speech houden of een ander stukje doen? Of heb je andere vragen? Neem contact op met de ceremoniemeester.</p>
<form name="response" hx-post="/rsvp" hx-target="#results" class="w-1/2">
	<input type="hidden" name="form-type" value="day">

	<div class="form-group mb-4">
		<label for="name" class="block mb-2">Name</label>
		<input type="text" id="name" name="name" required class="w-full border border-gray-300 rounded px-3 py-2">
	</div>

	<div class="form-group mb-4">
		<label for="attending_ceremony" class="block mb-2">Attending ceremony</label>
		<input type="checkbox" id="attending_ceremony" name="attending_ceremony" class="border border-gray-300 rounded">
	</div>

	<div class="form-group mb-4">
		<label for="attending_reception" class="block mb-2">Attending reception</label>
		<input type="checkbox" id="attending_reception" name="attending_reception" class="border border-gray-300 rounded">
	</div>

	<div class="form-group mb-4">
		<label for="attending_dinner" class="block mb-2">Attending dinner</label>
		<input type="checkbox" id="attending_dinner" name="attending_dinner" class="border border-gray-300 rounded">
	</div>

	<div class="form-group mb-4">
		<label for="attending_party" class="block mb-2">Attending party</label>
		<input type="checkbox" id="attending_party" name="attending_party" class="border border-gray-300 rounded">
	</div>
	<div class="form-group mb-4">
		<label for="diet_notes" class="block mb-2">Diet needs</label>
		<textarea id="diet_notes" name="diet_notes" class="w-full border border-gray-300 rounded px-3 py-2"></textarea>
	</div>

	<div class="form-group mb-4">
		<label for="message" class="block mb-2">Message</label>
		<textarea id="message" name="message" class="w-full border border-gray-300 rounded px-3 py-2"></textarea>
	</div>

	<button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Submit</button>
</form>

<div id="results"></div>

{{end}}

