{{define "base"}}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{block "title" .}}Ben & Maaike 28-08-2026{{end}}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">

	<script src="https://unpkg.com/htmx.org@2.0.4"></script>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	{{block "head" .}}{{end}}

	<style type="text/tailwindcss">
		@theme {
			--font-heading: "Hammersmith One", sans-serif;
		}

		html {
			scroll-behavior: smooth;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: var(--font-heading);
		}
		
		/* Top menu section following */
		#main-nav a.active {
			border-bottom: 2px solid red;
			font-weight: bold;
		}
		
		@keyframes fadeInUp {
			from {
				opacity: 0;
				transform: translateY(30px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
	</style>

</head>

<body class="bg-white min-h-screen">
	<!-- Fixed header -->
	<nav id="main-nav" class="fixed top-0 left-0 right-0 bg-white shadow z-10">
		<div class="max-w-7xl mx-auto px-4 py-4 space-x-4">
			<h1>Menu</h1>
			{{block "menuitems" .}}{{end}}
		</div>
	</nav>
	{{block "content" .}}{{end}}


	<script>
		/* Watch scroll events for navlink highlighting */
		const navLinks = document.querySelectorAll('#main-nav a');
		const sections = document.querySelectorAll('section');

		window.addEventListener('scroll', () => {
			let current = '';
			sections.forEach(section => {
				const rect = section.getBoundingClientRect();
				if (rect.bottom <= (window.innerHeight * 0.9)) {  // 150px from top (nav height)
					current = section.getAttribute('id');
				}
			});

			navLinks.forEach(link => {
				link.classList.remove('active');
				const section = link.getAttribute('href').slice(1);  // remove # and /
				if (section === current) {
					console.log('activating', section)
					link.classList.add('active');
				}
			});
			if (current == null) {
				navLinks[0].classList.add('active')
			}

		});
	</script>
</body>

</html>

{{end}}
